{% extends 'main.html' %}

{% block titile%}{% endblock %}

{% block content %}
<div class="todo">
    <div class="todo-submit">
        <form method="POST" action="" class="todo-form">
            {% csrf_token %}
            <input type="text" name="title" requiredid="id_title">
            <button type="submit" class="todo-create">
                    Create
            </button>
        </form>
    </div>
    <ul class='all-item'>
        {% for task in tasks %}
        <div>
            <li class='create-item'>
                <div>
                    {{task}}
                </div>
                <form method='POST' action="/deleteTask/{{task.id}}/">
                    {% csrf_token %}
                    <input type="submit" value="Delete" class="delete-item">
                </form>
            </li>
        </div>
        {% endfor %}
    </ul>
</div>


{% endblock %}