<header>
    <nav>
        <h1><a href="{% url 'home'%}" class="logo">ToDo</a></h1>
        <div class="navigation">
            {% if user.is_authenticated %}
            <a href="{% url 'logout' %}" class='nav-link'>Logout</a>
            <a href="{% url 'board' %}" class='nav-link'>Boards</a>
            <p>Hello, {{user.username}}</p>
            {% else %}
            <a href="{% url 'login' %}" class='login'>Login</a>
            <a href="{% url 'signup' %}" class='signup'>Signup</a>
            {% endif %}
        </div>
    </nav>
</header>